
<div class="contentContainer">
    <h2>Protocolos Previos del Paciente: </h2>
    
    <h5>Id Paciente: {{paciente[0].Cod_Paciente|json}}</h5>
    <h5>Fecha de Nacimiento: {{paciente[0].FechaNacimiento}}</h5>
    <h5>Dominancia: {{paciente[0].Dominancia}}</h5>
    <h5>Lengua: {{paciente[0].Lengua}}</h5>
    <h5>Estudios: {{paciente[0].Estudios}}</h5>

    <!--
    *******************************************************************************
                        Table Example
    ********************************************************************************
    -->
    <div *ngIf="table==1">
      <table class="table table-bordered tabl-striped table-light" style="width: 100%;" >
        <thead class="table-dark">
          <tr>
            <th scope="col" style="width: 25%;">Id Paciente</th>
            <th scope="col" style="width: 25%;">Fecha</th>
            <th scope="col" style="width: 25%;">Resultado</th>
            <th scope="col" style="width: 25%;">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of historialProtocolo">
            <th scope="row">{{item.Cod_Paciente}}</th>
            <td>{{item.Fecha_Protocolo}}</td>
            <td>{{item.Total}}/36</td>
            <td>
              <div class="text-center">
                <button class="btn btnTable" (click)="verinforme(item.Id_Protocolo)">Ver Informe</button>
              </div>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
    <div *ngIf="table==2">
      <h2>No se encontraron resultados</h2>
    </div>
  </div>