<div class="contentContainer">
  <div class="row " style="text-align: center;" >
    <h2>Mis Pacientes </h2> 
    <table class="table table-bordered tabl-striped table-light">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="tableTitle">Id Paciente</th>
          <th scope="col" class="tableTitle">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">MES01021989</th>
          <td>
            <div>
              <button class="btn btnTable">Nuevo Protocolo</button>
              <button class="btn btnTable">Protocolos Previos </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>